parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - public
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        analyse:
            - tests/Support/_generated/*

